<div class="jumbotron masthead">
  <div class="container">
    <h1>{{_i}}BootstrapEd{{/i}}</h1>
    <p>Bootstrap Extended = 增强Bootstrap！</p>
    <p>
      <a href="https://github.com/saiwang/bootstraped/archive/master.zip" class="btn btn-primary btn-large" {{#production}}onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Download', 'Download 2.3.1']);"{{/production}}>{{_i}}下载 Bootstraped{{/i}}</a>
    </p>
    <ul class="masthead-links">
      <li>
        <a href="https://github.com/saiwang/bootstraped" {{#production}}onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'GitHub project']);"{{/production}}>{{_i}}GitHub project{{/i}}</a>
      </li>
      <li>
        <a href="./getting-started.html#examples" {{#production}}onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'Examples']);"{{/production}}>{{_i}}Examples{{/i}}</a>
      </li>
      <li>
        <a href="./extend.html" {{#production}}onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'Extend']);"{{/production}}>{{_i}}Extend{{/i}}</a>
      </li>
      <li>
        {{_i}}Based On Version 2.3.1{{/i}}
      </li>
    </ul>
  </div>
</div>

<div class="bs-docs-social">
  <div class="container">
    <ul class="bs-docs-social-buttons">
      <li>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=twitter&repo=bootstrap&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
      </li>
      <li>
        <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=twitter&repo=bootstrap&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="102px" height="20px"></iframe>
      </li>
      <li class="follow-btn">
        <a href="https://twitter.com/twbootstrap" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">{{_i}}Follow @twbootstrap{{/i}}</a>
      </li>
      <li class="tweet-btn">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://twitter.github.com/bootstrap/" data-count="horizontal" data-via="twbootstrap" data-related="mdo:Creator of Twitter Bootstrap">Tweet</a>
      </li>
    </ul>
  </div>
</div>

<div class="container">

  <div class="marketing">

    <h1>{{_i}}Bootstrap介绍。{{/i}}</h1>
    <p class="marketing-byline">{{_i}}需要为爱上Bootstrap找N多理由吗？ 就在眼前。{{/i}}</p>

    <div class="row-fluid">
      <div class="span4">
        <img class="marketing-img" src="assets/img/bs-docs-twitter-github.png">
        <h2>{{_i}}人人为我，我为人人。{{/i}}</h2>
        <p>{{_i}}由<a href="http://twitter.com/mdo">@mdo</a> 和 <a href="http://twitter.com/fat">@fat</a> 在Twitter工作时创建，Bootstrap使用 <a href="/lesscss.html">LESS CSS</a> 并用 <a href="http://nodejs.org">Node</a> 编译，托管在 <a href="http://github.com">GitHub</a> 上，方便大家使用这一框架构建更好的web应用。{{/i}}</p>
      </div>
      <div class="span4">
        <img class="marketing-img" src="assets/img/bs-docs-responsive-illustrations.png">
        <h2>{{_i}}任何人都可以使用。{{/i}}</h2>
        <p>{{_i}}Bootstrap不光为了看起来好看，而且在现代的桌面浏览器上有极佳的表现(包括IE7！)。在平板电脑和智能手机上面还有 <a href="./scaffolding.html#responsive">响应式CSS</a> 可以使用。{{/i}}</p>
      </div>
      <div class="span4">
        <img class="marketing-img" src="assets/img/bs-docs-bootstrap-features.png">
        <h2>{{_i}}丰富的特色。{{/i}}</h2>
        <p>{{_i}}12列的响应式<a href="./scaffolding.html#grid">栅格结构</a>、丰富的组件、<a href="./javascript.html">JavaScript插件</a>、排版、表单控件，还有 <a href="./customize.html">基于web的定制工具</a>。{{/i}}</p>
      </div>
    </div>

    <hr class="soften">

    <h1>{{_i}}基于Bootstrap构建的网站。{{/i}}</h1>
    <p class="marketing-byline">{{_i}}更多基于Bootstrap构建的网站列表，请 <a href="http://builtwithbootstrap.tumblr.com/" target="_blank">访问非官方的Tumblr网站</a> 或者 <a href="./getting-started.html#examples">看看下面的几个案例</a>。{{/i}}</p>
    <div class="row-fluid">
      <ul class="thumbnails example-sites">
        <li class="span3">
          <a class="thumbnail" href="http://soundready.fm/" target="_blank">
            <img src="assets/img/example-sites/soundready.png" alt="SoundReady.fm">
          </a>
        </li>
        <li class="span3">
          <a class="thumbnail" href="http://kippt.com/" target="_blank">
            <img src="assets/img/example-sites/kippt.png" alt="Kippt">
          </a>
        </li>
        <li class="span3">
          <a class="thumbnail" href="http://www.gathercontent.com/" target="_blank">
            <img src="assets/img/example-sites/gathercontent.png" alt="Gather Content">
          </a>
        </li>
        <li class="span3">
          <a class="thumbnail" href="http://www.jshint.com/" target="_blank">
            <img src="assets/img/example-sites/jshint.png" alt="JS Hint">
          </a>
        </li>
      </ul>
     </div>

  </div>{{! /.marketing }}

</div>{{! /.container }}
